/* Reset */
ol, ul, li, img, dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

/* Settings */
body {
  font-family: "Merriweather";
}

h2, h3, h4, dt, .nav-recipes {
  font-family: 'Outfit', sans-serif;
  }
  
.screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Main Layout */
.header, .recipe-container {
  background: grey;
  padding: 20px;
}

.recipe-info, .recipe-core, .related-recipes {
  background: pink;
  display: flex;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 30px;
}

.recipe-info {
  display: flex;
  justify-content: space-evenly;
}

.recipe-container :last-child {
  margin-bottom: 0;
}

.related-recipes {
  display: block;
}

/* Navbar */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-recipes {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

/* Single recipe */

.recipe-container h2 {
  position: absolute;
}

.recipe-intro {
  padding-top: 50px;
  margin-right: 20px;
}

.recipe-main-img {
  width: 100%;
  height: 300px;
}

.recipe-main-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-details {
  flex: 1;
}

.fun-fact {
  flex: 2;
}

.ingredients {
  flex: 1;
}

.instructions {
  flex: 3;
}

.related-recipes-items {
  display: flex;
  justify-content: space-evenly;
}

.related-recipes-items li {
  border: 1px solid rgba(0,0,0,.15);
  margin-right: 24px;
}

.related-recipes-items :last-child {
  margin-right: 0;
}
.related-recipes-items img {
  object-fit: cover;
  width: 100%;
}